[Desktop Entry]
Name=Disney Streaming App
Comment=Launches GUI
Icon=/home/pi/DisneyStreaming/Brianlogo-trans.png
Path=/home/pi/DisneyStreaming
Exec=/usr/bin/python3 "/home/pi/DisneyStreaming/networkmonitor.py"
Type=Application
NoDisplay=flase
NotShowIn=GNOME;KDE;XFCE;
