[Unit]
Description=Wifi Checking Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=sudo /home/pi/wifi.sh

[Install]
WantedBy=multi-user.target